body{
  background: grey;
}
.maindiv{
  display:flex;
  flex-direction: row;
  width: 100%;
  background-color: #BDC3C7;
  justify-content: center;
}
table>tr>td{
  padding:1%;
}
a{
  word-wrap: break-word;
}
img{
  border-radius: 50%;
  border: 2px solid black;
  display:block;
  margin: auto;
  width: 60%;
  height: 35%;
}
.leftdiv{
  background-color: #F8C471;
  width: 40%;
  text-align: center;
  margin: 1%;
}
.rightchild{
 background-color: #F8C471;
 width: 60%;
 margin:1%;
 padding: 1%;
}
h2{
  color: #5D6D7E;
}
p{
  font-size: 20px;
}
@media screen and (min-width:320px) and (max-width:480px) {
  body{
    background: pink;
  }
  .maindiv{
    display:flex;
    flex-direction: column;
    width: 100%;
    background-color: #BDC3C7;
  }
  .leftdiv{
    background-color: #F8C471;
    width: 90%;
    text-align: center;
    margin: 1%
    padding:2%;
    border-radius: 20px;
  }

  .rightchild{
   background-color: #F8C471;
   width: 90%;
   margin:1%;
   padding: 1%;
   border-radius: 20px;
 }
 img{
   border-radius: 25px;
   border: 2px solid black;
   display:block;
   margin: auto;
   width: 60%;
   height: 35%;
 }
 h2{
   color: lightyellow;
 }
 .table-responsive{
   overflow-x: scroll;
   width=90%;
   margin:1% auto;
 }
}
@media screen and (min-width:480px) and (max-width:570px) {
  body{
      background: bisque;
    }
    .maindiv{
      display:flex;
      width: 100%;
      background-color: #BDC3C7;
    }
    .leftdiv{
      background-color: #808080;
      width: 90%;
      text-align: center;
      margin: 1%;
      padding:2%;
      border-radius: 20px;
    }
    .rightchild{
     background-color: #F8C471;
     width: 90%;
     margin:1%;
     padding: 1%;
     border-radius: 20px;
   }
   img{
     border-radius: 25px;
     border: 2px solid black;
     display:block;
     margin: auto;
     width: 60%;
     height: 35%;
}
h2{
  color: lightyellow;
}
.table-responsive{
  overflow-x: scroll;
  width=90%;
  margin:1% auto;
}
